*{
    margin: 0;
    padding: 0;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
img{
max-width: 100%;
}
.clear:after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}

a{
    text-decoration: none;
}
.container{
    max-width: 1300px;
    margin: auto;
}

/* main css */
body,h1,h2,h3,h4,h5,h6,a,p,span{
    font-family:sans-serif;
}

/* HEader */
.header-section{
 background-color: #fff;
 border-bottom: #ddd;
 padding: 6px 0px;
 position: fixed;
    left: 0;
    z-index: 99;
    top: 0;
    width: 100%;
}
.header-section a{
    color: #010101;
}
.header-logo{
width: 30%;

}
.logo img{
    height: 60px;
    float: left;
}
.logo span{
    display: inline-block;
    margin-top: 14px;
    font-size: 26px;
    font-weight: 500;
}
.header-menu{
width: 54%;
}
.header-buttom{
width: 14%;
text-align: right;
}
.header-btn{
    border: 2px solid #6278df;
display: inline-block;
padding: 10px 25px;
border-radius: 10px;
padding: 12px 28px;
font-size: 15px;
transition: .4s;
margin-top: 10px;
font-weight: 600;
}


.header-btn:hover{
    color: white;
    background: #6278df;
}
.primary-menu{}
.primary-menu ul{}
.primary-menu ul li{
    display: inline-block;
}
.primary-menu ul li a{
    display: block;
    padding: 0px 20px;
    font-size: 17px;
    line-height: 60px;
}
.primary-menu ul li a:hover{}

/* Drop down css*/
.primary-menu ul li{
position: relative;
}
.primary-menu ul li ul{
    
    left: 0;
    top: 100%;
    width: 300px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    transform: scale(0);
    transform-origin: top center;
    position: absolute;
}
.primary-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    
}

/* banner-css */
.banner-section{
    background: url(./img/mbr-4.jpg) no-repeat center center;
    background-size: cover;
 color: white;
    padding: 220px 0px;
    position: relative;
    z-index: 9;
    margin-top: 80px;
}
.banner-section::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background:rgba(0, 0, 0, .4);
    z-index: -1;
}
.banner-content{
    
}
.banner-content h3{
    font-size: 20px;
    font-weight: 400;
}
.banner-content h2{
    font-size: 60px;
    padding: 30px 0px;
}
.defult-btn{
color: #7d7d7d;
padding: 20px 30px;
display: inline-block;
background: #fff;
font-size: 20px;
font-weight: 600;
margin-left: 6px;
border-radius: 10px;
transition: .4s;
}
.defult-btn:hover{
    background:#6278df ;
    color: white;
}
.banner-bottom{
    background: #f7f9ff;
    padding: 100px 0px;
}
.video-left {
    width: 48%;
}
.video-content-right{
    width: 48%;
}
.video-content-right h3{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 34px;
}
.video-content-right p{
    font-size: 20px;
color: #767676;
line-height: 1.7em;
}

/* service-section */
.service-section{
    background: white;
    padding: 100px 0px;
}
.section-title h1{
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.section-title p{
    color: #767676;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.6;
}
/* service-item*/
.service-item{
    margin-top: 90px;
}
.service-box{
    width: 31.3%;
    box-shadow: 4px 4px 20px rgba(0,0,0,.1)  ;
    margin-right: 2%;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 70px;
    border-radius: 30px;
    
}
.service-icon{
    float: left;
    width: 60px;
    min-height: 108px;
    font-size: 45px;
    margin-right: 10px;
    color: #6278df;
}
.service-content{}
.service-content h3{
 
 font-weight: 700;  
  font-size: 21px;
}
.service-content p{
    margin-top: 27px;
font-size: 17px;
color: #767676;
line-height: 25px;
}

/* pricing-table css */
.pricing-table-section{
    background: #f7f9ff;
    padding: 50px;
    
}
.section-title h2{
font-size: 64px;
margin-bottom: 30px;
}
.section-title p{
    color: #767676;
    font-size: 26px;
    font-weight: 300;
}
.pricing-tables{
  
}
.pricing-table-item {
    width: 31.3%;
    margin-right: 2%;
    background: #f7f9ff;
    float: left;
    box-shadow: 4px 4px 20px rgba(0,0,0,.1)  ;
margin-top: 80px;
}
.p-heading{
    padding: 40px;
    border-bottom:1px solid #ddd ;
    background: #ddd;
    transition: 2s;
    
}
.p-content{

}

.p-heading h4{
    font-size: 24px;
font-weight: 300;
margin-bottom: 34px;

}
.p-heading h1{
    font-size: 45px;
}
.p-heading h5{
    margin-top: 25px;
font-size: 25px;
font-weight: 400;
}
.p-heading p{
    margin-top: 25px;
font-size: 22px;
line-height: 1.6em;
}

.p-content ul{
    list-style: none;
}
.p-content ul li{
    margin: 20px 30px;
    font-size: 1.3em;
font-weight: 300;
line-height: 40px;
 
}

.p-button .defult-btn{
    transition: .4s;
}
.p-button .defult-btn:hover{
    background: #000;
}
.pricing-table-item:hover .p-button .defult-btn{
    background: black;
}
.pricing-table-item:hover .p-heading{
    background: #5971db;
}

.p-content ul li .fa{
    color: #576ed3;font-size: 40px;
}

/* pricind down */
.pricing-down h1{
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    margin: 60px 0px;

}
.picture{
    width: 24%;
    margin-right: 1%;
}
.picture img{
 height: 300px;
 width: auto;
 border-radius: 10px;

}
.picture h4{
    margin: 15px 0px;
    font-size: 20px;
}
.picture p{
    font-size: 18px;
    color: #7d7d7d;
}
/* submit-section */
.submit-section{}
.submit-section h5{
    margin: 80px;
font-size: 25px;
color: #7d7d7d;
}
.submit-section h3{
    font-size: 50px;
    font-weight: 400;
    margin: 70px;

}

.email{
margin-left: 400px;

}
.email form input{
    height: 50px;
    width: 250px;
    box-shadow: 4px 4px 20px rgba(0,0,0,.1)  ;
    border-radius: 10px;
}
.sub-btn{
    margin-right: 450px;

}
.sub-btn .defult-btn{
background: rgb(124, 216, 124);
color: #000;
}
.sub-btn .defult-btn:hover{
    background: rgb(140, 128, 197);
}
